<h1>All Vendors</h1>

<%# <% @vendors.each do |vendor| %> 
<%# <% vendor.vendor_sweets.each do |vendor_sweet| %>
<%# <%= vendor_sweet.average(:price) %> 
<%# <% end %> 
<%# <% end %> 

<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_path(vendor) %></li>
  <% end  %>
</ul>
<p> <%= link_to "Create", new_vendor_sweet_path %> </p>
